.main {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  height: 100vh;
}

.left-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80vh;
  width: 30%;
  overflow: auto;
  border: 1px solid black;
  padding: 0 20px 20px 20px;
}

.right-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100vh;
  overflow: hidden;
}

.search-container {
  position: sticky;
  top: -1px;
  padding-top: 16px;
  width: 100%;
  background-color: white;
}

.search-bar {
  position: absolute;
  background-color: white;
  width: 80%;
}

.list-of-exercises {
  list-style: none;
  padding: 20px;
}

.highlight {
  background-color: yellow;
}
